<style>
@charset "utf-8";

/*#studentShow .topRow{
background : white;
border-style : Solid;
border-color : #000000;
border-width : 1px;
left : 294px;
top : 22px;
width : 1000px;
height : 600px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
margin-top: 200px;
overflow: hidden;
box-sizing: border-box;
box-shadow: 0 0 5px #222;
height : 35px;
z-index: 2;
}*/

#studentShow body{
  text-align: center;
  line-height: normal;
  margin: auto;
  min-width:140px;
}
#studentShow .topContainer {
  background : white;
  text-align: center;
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  top : 500px;
  width : 1000px;
  height : 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 200px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
  min-width:140px;
}

#studentShow .row{
  background : white;
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  position : absolute ;
  left : 294px;
  top : 22px;
  width : 1000px;
  height : 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 200px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  height : 35px;
  z-index: 1;
  min-width:140px;
}

#studentShow .photoGallery{
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  top : 800px;
  width : 1000px;
  height : 600px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
  min-width:140px;
}
#studentShow .commentGallery{
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  width : 1000px;
  height : 600px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
  min-width:140px;
}

#studentShow .profileImg{
    position: relative;
    z-index: 5;
    width: 300px;
    height:300px;
    border: 5px solid #fff;
    border-radius: 50px;
    box-shadow: inset 0 0 20px 0 #222;
    cursor: pointer;
  }

  .profileImg:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;

}

#studentShow img{
  text-align: center;
}
.content-wrapper {
    width: 75%;
    margin: 32px auto;
}

.main-section {
    text-align: center;
    padding: 32px;
}

</style>


<div id="studentShow">
      <div class="button"><%= link_to "Edit Student", edit_student_path(@student)%></h2></div>
  <section>
    <div class="content-wrapper">
      <div class="main-section">
    <div class="center-block">
      <div class="profileImg">
      <%= image_tag @student.img_url %>
    </div>
    </div>
    </div>
    </div>

    <div class="topContainer">
    <%= @student.quote %></br>
    <%= @student.q1 %></br>
    <%= @student.q2 %></br>
    <%= @student.q3 %></br>
    <%= @student.q4 %></br>
    <%=link_to @student.squad_id %></br>
    <%=link_to @student.codey_id %></br>
<div class="button_container">
  <%= link_to @student.github_url, class: 'btn btn-primary btn-lg' do %>
  <i class="fa fa-github"></i>
  Github
  <% end %>
  <%= link_to @student.portfolio_url, class: 'btn btn-primary btn-lg' do %>
  <i class="fa-file-text-o"></i>
  Portfolio
  <% end %>
  <%=link_to @student.project1_url, class: 'btn btn-primary btn-lg' do %>
  <i class="fa fa-meh-o"></i>
  Github
  <% end %>
  <%=link_to @student.project2_url, class: 'btn btn-primary btn-lg' do %>
  <i class="fa fa-code-fork"></i>
  Github
  <% end %>
  <%=link_to @student.project3_url, class: 'btn btn-primary btn-lg' do %>
  <i class="fa fa-github"></i>
  Github
  <% end %>
  <%=link_to @student.project4_url, class: 'btn btn-primary btn-lg' do %>
  <i class="fa fa-github"></i>
  Github
  <% end %>
  <%=link_to @student.email, class: 'btn btn-primary btn-lg' do %>
  <i class="fa fa-envelope"></i>
  Email
  <% end %>
  </br>
  <%=link_to @student.fb, class: 'btn btn-primary btn-lg' do %>
  <i class="fa fa-facebook"></i>
  Facebook
  <% end %>
    <%=link_to @student.linkedin, class: 'btn btn-primary btn-lg' do %>
  <i class="fa fa-linkedin"></i>
  LinkedIn
  <% end %>
  </div>
  </div>
  </section>

  <section id="photo">
    <div class="photoGallery">
<div id="photo-gallery">
  <h2>Pics Please</h2>
  <ul>
    <li>
    <% @student.photos.each do |photo| %>
    <%= image_tag photo.url %>
    <% end %>
  </ul>
</li>
<button> <%= link_to "Add new photo", new_photo_path(@student) %></button>
  </div>
</section>

  <section id="comment">
    <div class="commentGallery">
      <div class="overlay">
        <h2>keep in touch...</h2>

<% if current_user %>
<button> <%= link_to "Add new comment", new_student_comment_path(@student) %></button>
<% end %>
<% @student.comments.each do |comment| %>
  <p>
    <%= comment.body %>
  </p>
  <% if current_user && current_user == comment.user %>
<button>  <%= link_to "Edit", edit_student_comment_path(@student) %> </button>
<button>  <%= link_to "Delete", student_comment_path(@student), method: :delete %></button>
  <% end %>
</div>
<% end %>

</div>
</section>

</div>
