<style>
@charset "utf-8";

/*#studentShow .topRow{
  background : white;
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  top : 22px;
  width : 1000px;
  height : 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 200px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  height : 35px;
      z-index: 2;
}*/

#studentShow .topContainer {
  background : white;
  text-align: center;
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  top : 500px;
  width : 1000px;
  height : 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 200px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
}

#studentShow .row{
  background : white;
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  position : absolute ;
  left : 294px;
  top : 22px;
  width : 1000px;
  height : 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 200px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  height : 35px;
      z-index: 1;
}

#studentShow .photoGallery{
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  top : 800px;
  width : 1000px;
  height : 600px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
}
#studentShow .commentGallery{
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  width : 1000px;
  height : 600px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
}

#studentShow .profileImg{
  margin: auto;
  /*height: 300px;
  width: 300px;*/
  position : absolute ;
  left : 550px;
  border: 4px solid black;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  min-width:140px;
  overflow:hidden;
  cursor: pointer;
  float: left;
    z-index: 100;
}

#studentShow img{
  text-align: center;
}
</style>


<div id="studentShow">
  <section>

<div class="button"><%= link_to "Edit Student", edit_student_path(@student)%></h2></div>
<div class="profileImg">
 <%= image_tag @student.img_url %>
</div>
      <div class="topContainer">
  <h1> <%= @student.name %> </h1>
</br>
    <%= link_to image_tag("fa fa-github")@student.github_url %></br>
    <%= link_to @student.portfolio_url %></br>
    <%= @student.quote %></br>
    <%= @student.q1 %></br>
    <%= @student.q2 %></br>
    <%= @student.q3 %></br>
    <%= @student.q4 %></br>
    <%=link_to @student.project1_url %></br>
    <%=link_to @student.project2_url %></br>
    <%=link_to @student.project3_url %></br>
    <%=link_to @student.project4_url %></br>
    <%=link_to @student.email %></br>
    <%=link_to @student.fb %></br>
    <%=link_to @student.linkedin %></br>
    <%=link_to @student.squad_id %></br>
    <%=link_to @student.codey_id %></br>
</div>

<div class="photoGallery">
  <% @student.photos.each do |photo| %>
   <%= image_tag photo.url %>
  <% end %>
</div>
<div class="commentGallery">
  <!-- <div class="comment-wrap">
    <div class="comment-block"> -->
    <% @student.comments.each do |comment| %>
    <%= comment.body %>
    <% end %>
    </div>
</div>




  <!-- </div>
  </div> -->
</section>
