<div class="button"><%= link_to "edit", edit_instructor_path(@instructor)%></h2></div>

<h1><%= @instructor.name %></h1>
 <%= image_tag @instructor.img_url %>

<div class="container">

 <%= @instructor.squad_id %> </br>
 <%= @instructor.codey_id %> </br>
 <%= @instructor.quote %> </br>
 <%= @instructor.teaching %> </br>
 <%= @instructor.memory %> </br>
 <%= @instructor.favlang %> </br>
 <%= @instructor.wisewords %> </br>
</div>
<div class="container">
 <h2><%= @instructor.squad_name %></h2>
 <div class="index">
<% @students.each do |student| %>
<%= link_to image_tag(student.img_url), student_path(student) %>
<% end %>
</div>
</div>
</br>


 <div class="lightboxContainer">
 <div class="gallery">
   <ul>
     <li>
 <h3></h3>
 <% @instructor.photos.each do |photo| %>
  <%= image_tag photo.url %>
 <% end %>
 </li>
</ul>
</div>
</br>
<section id="contact">
</br>
  <div class="overlay">
    </br>
    <
      <h2>get in touch...</h2>
</br>


<% @instructor.comments.each do |comment| %>
<%= comment.body %>

 <% end %>
</div>
</div>

<div class="comments">
</br>
		<div class="comment-wrap">
				<div class="comment-block">
						<form action="">
								<textarea name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
						</form>
				</div>
		</div>
    </br>
<div class="comment-wrap">
				<div class="comment-block">
						<p class="comment-text">Comment stuff</p>
						<div class="bottom-comment">
								<div class="comment-date">Aug 24, 2014 @ 2:35 PM</div>
								<ul class="comment-actions">
										<li class="complain">Complain</li>
										<li class="reply">Reply</li>
								</ul>
						</div>
				</div>

</br>
		<div class="comment-wrap">
				<div class="photo">
						<div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
				</div>
        <div class="comment-wrap">
				<div class="comment-block">
						<p class="comment-text">Comment stuff</p>
						<div class="bottom-comment">
								<div class="comment-date">Aug 23, 2014 @ 10:32 AM</div>
								<ul class="comment-actions">
										<li class="complain">Complain</li>
										<li class="reply">Reply</li>
								</ul>
						</div>
				</div>
		</div>
</div>
</br>
</section>
