<button><%= link_to "edit", edit_instructor_path(@instructor)%></h2></button>

<h1><%= @instructor.name %></h1>
 <%= image_tag @instructor.img_url %>

<div class="container">

 <%= @instructor.squad_id %> </br>
 <%= @instructor.codey_id %> </br>
 <%= @instructor.quote %> </br>
 <%= @instructor.teaching %> </br>
 <%= @instructor.memory %> </br>
 <%= @instructor.favlang %> </br>
 <%= @instructor.wisewords %> </br>
</div>
 <h2><%= @instructor.squad_name %></h2>
 <p> Squad team members</p>
<% @students.each do |student| %>
<%= student.name %>
<% end %>

 <div class="container">
   <h2 class="text-center">Photo Gallery w Tagged Photos</h2>
   <div class="gallery">

 <h3></h3>
 <% @instructor.photos.each do |photo| %>
  <%= image_tag photo.url %>
 <% end %>

</div>
</div>


<div class="container">
  <h2 class="text-center">comment area</h2>
  <div class="posts">
 <h3></h3>
 <h3>comments area</h3>
<% @instructor.comments.each do |comment| %>
<%= comment.body %>

 <% end %>
</div>
</div>
