<button><%= link_to "edit", edit_instructor_path(@instructor)%></h2></button>

<h1><%= @instructor.name %></h1>
 <%= image_tag @instructor.img_url %>

<div class="container">

 <%= @instructor.squad_id %> </br>
 <%= @instructor.codey_id %> </br>
 <%= @instructor.quote %> </br>
 <%= @instructor.teaching %> </br>
 <%= @instructor.memory %> </br>
 <%= @instructor.favlang %> </br>
 <%= @instructor.wisewords %> </br>
</div>
<div class="index">
 <h2><%= @instructor.squad_name %></h2>
<% @students.each do |student| %>
<%= link_to image_tag(student.img_url), student_path(student) %>
<% end %>
</div></br>
 <div class="container">
   <h2 class="text-center">Photo Gallery w Tagged Photos</h2>
   <div class="gallery">

 <h3></h3>
 <% @instructor.photos.each do |photo| %>
  <%= image_tag photo.url %>
 <% end %>

</div>
</div>


  <div class="textarea-field">
 <h3></h3>
 <h3>comments area</h3>
<% @instructor.comments.each do |comment| %>
<%= comment.body %>

 <% end %>
</div>
</div>
