<style>

#instructorShow .topContainer {
  background : white;
  text-align: center;
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  top : 500px;
  width : 1000px;
  height : 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 200px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
}

#instructorShow .row{
  background : white;
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  position : absolute ;
  left : 294px;
  top : 22px;
  width : 1000px;
  height : 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 200px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  height : 35px;
  z-index: 1;
}

#instructorShow .studentGallery{
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  top : 800px;
  width : 1000px;
  height : 600px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
}
#instructorShow .photoGallery{
  border-style : Solid;
  border-color : #000000;
  border-width : 1px;
  left : 294px;
  top : 800px;
  width : 1000px;
  height : 600px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
}
#instructorShow .commentGallery{
  border-style : Solid;
  border-color : #000;
  border-width : 1px;
  left : 294px;
  width : 1000px;
  height : 600px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
  margin: auto;
}

#instructorShow .profileImg{
  margin: auto;
  height: 300px;
  width: 300px;
  position : absolute ;
  left : 550px;
  border-radius: 50%;
  border: 4px solid black;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  min-width:140px;
  overflow:hidden;
  cursor: pointer;
  float: left;
  z-index: 100;
  /*// -webkit-animation: index imgSlideIn .65s .15s ease forwards;
  // animation: index imgSlideIn .65s .15s ease forwards;*/
}
</style>

<div id="instructorShow">
  <section>
    <div class="button"><%= link_to "edit", edit_wdier_path(@wdier)%></h2></div>
  </br>
  <div class="profileImg">
  <%= image_tag @wdier.img_url %>
</div>
  <div class="topContainer">
    <h1><%= @wdier.name %></h1>

    <%= @instructor.squad_id %> </br>
    <%= @instructor.codey_id %> </br>
    <%= @instructor.quote %> </br>
    <%= @instructor.teaching %> </br>
    <%= @instructor.memory %> </br>
    <%= @instructor.favlang %> </br>
    <%= @instructor.wisewords %> </br>
  </div>

    <div class="studentGallery">
      <h2> <%= @wdier.squad_name %></h2>
      <div class="index">
        <% @wdiers.each do |wdier| %>
        <%= link_to image_tag(wdier.img_url), wdier_path(wdier) %>
        <% end %>
      </div>
    </div>

  <section id="photo">
    <div class="photoGallery">
      <h2>Pics Please</h2>
      <button> <%= link_to "Add new photo", new_photo_path() %></button>
      <ul>
        <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><% @instructor.photos.each do |photo| %>
          <%= image_tag photo.url %></li>
          <% end %>
        </ul>

        </div>
      </section>

    <section id="comment">
      <div class="commentGallery">
        <div class="overlay">
          <h2>keep in touch...</h2>


  <%= link_to "Add new comment", new_instructor_comment_path(@instructor) %>
  <% @instructor.comments.each do |comment| %>
    <p>
      <%= comment.body %>
    </p>
    <% if current_user && current_user == comment.user %>
    <%= link_to "Edit", edit_instructor_comment_path(@instructor) %> |
    <%= link_to "Delete", instructor_comment_path(@instructor), method: :delete %>
    <% end %>
  </div>
  <% end %>
</div>
</section>
</section>
