<section id="userShow">
<h1><%= @user.name %></h1>
<section>
  <%= @user.name %>
  <%= @user.img_url %>
  <%= @user.github_url %>
  <%= @user.portfolio_url %>
  <%= @user.project1_url %>
  <%= @user.project2_url %>
  <%= @user.project3_url %>
  <%= @user.quote %>
  <%= @user.squad_name %>
  <%= @user.teaching %>
  <%= @user.memory %>
  <%= @user.favlang %>
  <%= @user.wisewords %>
  <%= @user.tag_list %>
  <%= @user.q1 %>
    <%= @user.q2 %>
    <%= @user.q3 %>
    <%= @user.fb %>
    <%= @user.linkedin %>
  <%= @user.squad_id %>
  <%= @user.student_id %>
  <%= @user.instructor_id %>
  <%= @user.codey_id %>
  <%= @user.role %>
</section>

</section>
