<h2> Edit Wdier </h2>
<%= form_for [@wdier] do |f| %>

  <%=f.label :name %>
  <%=f.text_field :name %>
  <%=f.label :img_url %>
  <%=f.text_field :img_url %>
  <%=f.label :github_url %>
  <%=f.text_field :github_url %>
  <%=f.label :portfolio_url %>
  <%=f.text_field :portfolio_url %>
  <%=f.label :project1_url %>
  <%=f.text_field :project1_url %>
  <%=f.label :project2_url %>
  <%=f.text_field :project2_url %>
  <%=f.label :project3_url %>
  <%=f.text_field :project3_url %>
  <%=f.label :quote %>
  <%=f.text_field :quote %>
  <%=f.label :squad_name %>
  <%=f.text_field :squad_name %>
  <%=f.label :teaching %>
  <%=f.text_field :teaching %>
  <%=f.label :memory %>
  <%=f.text_field :memory %>
  <%=f.label :favlang %>
  <%=f.text_field :favlang  %>
  <%=f.label :wisewords %>
  <%=f.text_field :wisewords %>
  <%=f.label :tag_list %>
  <%=f.text_field :tag_list %>
  <%=f.label :q1 %>
  <%=f.text_field :q1 %>
  <%=f.label :q2 %>
  <%=f.text_field :q2 %>
  <%=f.label :q3 %>
  <%=f.text_field :q3 %>
  <%=f.label :fb %>
  <%=f.text_field :fb %>
  <%=f.label :linkedin %>
  <%=f.text_field :linkedin %>
  <%=f.label :squad_id %>
  <%=f.text_field :squad_id %>
  <%=f.label :student_id %>
  <%=f.text_field :student_id %>
  <%=f.label :instructor_id %>
  <%=f.text_field :instructor_id %>
  <%=f.label :codey_id %>
  <%=f.text_field :codey_id %>
  <%=f.label :role %>
  <%=f.text_field :role %>

  <%=f.submit%>
  <% end %>
