
<section id="wdierIndex">
  <section id="instructorArea">
<div class="inner">
  <div class="inner-shadow mustard page-header">
    <h4>Instructors</h4></div>
    <div class="thumbnail-grid flex index">
      <% @instructors.each do |wdier| %>
    <div class="flex-item"><%= link_to image_tag(wdier.img_url), wdier_path(wdier) %>
      <figure class="i1">
        <figcaption><%= wdier.name %></figcaption>
      </figure>
    </div>
  <% end %>
      </div>
    </div>
  </section>
  <section id="studentArea">
  </section>
    <div class="inner">
      <div class="inner-shadow mustard page-header">
        <h4>Students</h4></div>
        <div class="thumbnail-grid flex index">
          <% @students.each do |wdier| %>
        <div class="flex-item"><%= link_to image_tag(wdier.img_url), wdier_path(wdier) %>
          <figure class="i1">
            <figcaption><%= wdier.name %></figcaption>
          </figure>
        </div>
        <% end %>
          </div>
        </div>
  </section>
</section>
<footer>
  <%= image_tag("blkdc.png") %>
</footer>
