<%= link_to "edit", edit_wdier_path(@wdier)%>
</br>
<section id="wdierShow">
  <div class="wrapper">
    <div class="profileImg"><%= image_tag @wdier.img_url %>
    </div>
    <div class="box">
      <div class="cover-pic">
        <div class="profile-name">
          <h2 class="inner-shadow mustard"><%= @wdier.name %></h2>
        </div>
        <div class="page-header social">
          <%= link_to @wdier.portfolio_url, class:"icon-link round desktop fill" do %>
          <i class="fa fa-desktop"></i></a>
          <% end %>
          <%= link_to @wdier.github_url, class: "icon-link round github fill" do %>
          <i class="fa fa-github"></i></a>
          <% end %>
          <%= link_to @wdier.fb, class:"icon-link round facebook fill" do %>
          <i class="fa fa-facebook"></i></a>
          <% end %>
          <%= link_to @wdier.linkedin, class:"icon-link round linkedin fill" do %>
          <i class="fa fa-linkedin"></i></a>
          <% end %>
          <%= link_to @wdier.email, class:"icon-link round envelope fill" do %>
          <i class="fa fa-envelope"></i></a>
          <% end %>
        </div>
      </div>
      <div class="quote_container">
        <div class="quote">
          <%= image_tag("quote-front-blue copy.png") %>
          <%= @wdier.quote %>
          <%= image_tag("quote-end-blue.png") %>
        </div>
      </div>
      <div class="topContainer">
        <div class="teaching">
          <h3>Has been teaching for...</br><%= @wdier.teaching if @wdier.teaching? %></h3></div>
          <h3>Favorite WDI8 Memory</br><%= @wdier.memory if @wdier.memory? %></h3>
          <h3>Favorite programming language</br><%= @wdier.favlang if @wdier.favlang? %></h3>
          <h3>Words of wisdom for the students</br><%= @wdier.wisewords if @wdier.wisewords? %></h3>
          <h3></br><%= @wdier.q1 if @wdier.q1? %></h3>
          <%= @wdier.q2 if @wdier.q2? %></h3>
          <h3>I can't live without my...</br><%= @wdier.q3 if @wdier.q3? %></h3>
          <div class="projectGallery">
            <div class="thumbnail-grid figure">
              <%=link_to image_tag("project1.png"), @wdier.project1_url if @wdier.project1_url? %>
              <%=link_to image_tag("project2.png"), @wdier.project2_url if @wdier.project2_url? %>
              <%=link_to image_tag("project3.png"), @wdier.project3_url if @wdier.project3_url? %>
            </div>
            </div>
            <div class="squadGallery">
              <div class="inner-shadow mustard">
                <h4>SQUAD</h4>
                <h4> <%= @wdier.squad_name %></h4>
              </br></div>
              <div class="squad_img"><%= image_tag(@wdier.squad_img) %>
          </div>
              <div class="index">
                <% @squad.each do |squad| %>
                <%= link_to image_tag(squad.img_url), wdier_path(squad) %>
                <% end %>
              </div>
            </div>

          <div class="photo">
            <div class="photoGallery">
              <div class="inner-shadow mustard">
                <h4>Pix</h4>
              </div>
              <ul>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <% @wdier.photos.each do |photo| %>
                  <%= image_tag photo.img_url %></li>
                  <% end %>
                </ul>
                <button><%= link_to "Add new photo", new_photo_path(@wdier) %></button>
              </div>
            </div>
            <div class="comment">
              <div class="commentGallery">
                <div class="overlay">
                  <div class="inner-shadow mustard">
                    <h4>keep in touch...</h4>
                  </div>
                  <% @wdier.posts.each do |post| %>
                  <div class="name">
                    <%= post.name %></br>
                    <%= post.body %>
                  </div>
                  <% end %>
                  <button><%= link_to "Add new comment", new_wdier_post_path(@wdier) %> </button>

                  <% if current_user && current_user == post.user %>
                  <%= link_to "Edit", edit_wdier_post_path(@wdier) %> |
                  <%= link_to "Delete", wdier_post_path(@wdier), method: :delete %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <%= image_tag("blkdc.png") %>
      </footer>
