<style>
#wdierShow {
  font-family: 'PFDinTextCompPro-Regular';
  background: #fff;
}
#wdierShow body {
  width: 100%;
  height: 100%;
  text-align: center;
}

#wdierShow .wrapper {
  width: 1200px;
  height: 100%;
  position: relative;
  top: 25%;
  /*   left: 50%;  */
  margin: 100px 100px;
}

#wdierShow .box{
  position:relative;
  margin: 160px auto;
  width: 1200px;
  height: 100%;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 8px;
  overflow: hidden;
  z-index:0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#wdierShow .topContainer {
  overflow: hidden;
  margin: 50px 100px 100px 50px;
}

#wdierShow .cover-pic {
  width: 1200px;
  height: 300px;
  background: url() 0 -10px;
  background-size: 100%;
}

#wdierShow .profile-name {
  margin-top: 250px;
  position: relative;
  top: -50px;
  color: #fff;
  text-decoration:none;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  text-shadow: 0 0 5px #000;
  line-height: 30px;
}
#wdierShow .profileImg{
  margin: auto;
  margin-bottom: -300px;
  /*margin-top: 0px;*/
  height: 300px;
  width: 300px;
  position : relative;
  border:  solid #222;
  border-radius: 100%;
  box-shadow: 0 0 20px 0 #222;
  /*min-width:140px;*/
  overflow:hidden;
  cursor: pointer;
  /*float: left;*/
  z-index: 2;
  -webkit-animation: index imgSlideIn .65s .15s ease forwards;
  animation: index imgSlideIn .65s .15s ease forwards;
}

#wdierShow .profileImg img{
  width: 100%;
  height: 100%;
}

#wdierShow .profileImg:before {
  content: "";
  position: absolute;
  margin-left: 600px;
  margin-right: 600px;
  width: 120px;
  height: 120px;

  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%);
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%);

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

#wdierShow button {
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 25px;
  box-shadow: 0 0 5px 0 #222;
  cursor: pointer;
}

#wdierShow .button {
  text-align: center;
  margin: 25px;
  box-shadow: 0 0 5px 0 #222;
  cursor: pointer;
}

#wdierShow h1{
  margin: 25px 25px 25px 25px;
}
#wdierShow .grid{
  text-align: left;
  margin: 25px 25px 25px 25px;
}
#wdierShow .quote{
  text-align: center;
  font-size: 50px;
}
#wdierShow .quote_container{
  padding-left: 50px;
  padding-right: 50px;
}
#wdierShow projectGallery{
  /*margin: 50px 100px 100px 50px;
  overflow: hidden;*/
  vertical-align: middle;
}

#wdierShow .squadGallery{
  margin: 50px 100px 100px 50px;
  overflow: hidden;
}

#wdierShow .photoGallery{
  margin: 50px 100px 100px 50px;
  overflow: hidden;
  position:relative;
  height: 100%;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 8px;
  box-shadow: inset 0 0 5px 0 #222;
}

#wdierShow .photoGallery img {
  width: 300px;
  height: 200px;
  border-color: 1px black;
  box-shadow: 0 0 5px 0 #222;
}

#wdierShow .commentGallery{
  margin: 50px 100px 100px 50px;
  overflow: hidden;
  position:relative;
  height: 100%;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 8px;
  box-shadow: inset 0 0 5px 0 #222;
}
#wdierShow .name{
  background-color: #fff;
  line-height: 50px;
  text-align: left;
  margin: 25px 50px 25px 25px;
  box-shadow: inset 0 0 5px 0 #222;
}
#wdierShow .body{
  background-color: #fff;
  line-height: 50px;
  text-align: left;
  margin: 25px 50px 25px 25px;
  box-shadow: inset 0 0 5px 0 #222;
}
#wdierShow footer{
  background-color: #fff;
  line-height: 50px;
  text-align: left;
  margin: 25px 50px 25px 25px;
}
i {
  color: white;
}
#wdierShow .social{
  display: inline-block;
}

#wdierShow .thumbnail-grid {
	user-select: none
}
#wdierShow .thumbnail-grid figure {
	position: relative;
	min-width: 200px;
	height: 150px;
	margin: 5px;
	border-radius: 3px;
	box-shadow: inset 0 -40px 0 0 rgba(0,0,0,.1);
	transition: all .2s ease-in-out
}
#wdierShow .thumbnail-grid figure:hover {
	box-shadow: inset 0 -150px 0 0 rgba(0,0,0,.5)
}
#wdierShow .thumbnail-grid figcaption {
	position: absolute;
	width: 100%;
	font-weight: 300;
	text-align: center;
	color: #f4f4f4;
	text-shadow: 0 0 3px #000;
	bottom: 10px;
	transition: all .2s ease-in-out
}
#wdierShow .thumbnail-grid figure:hover figcaption {
	bottom: 60px
}
#wdierShow .flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch
}
#wdierShow .flex-item {
	flex: 1 0 auto
}

.thumbnail-grid figure.i1 {
	background: url(https://anselmurban.de/codepen-img/sinfonietta-meridiana.png) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i2 {
	background: url(https://anselmurban.de/codepen-img/pension.png) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i3 {
	background: url(https://anselmurban.de/codepen-img/goerlitzmade.png) no-repeat center;
	background-size: cover
}


/* Thumbnails for HiDPI/retina screens */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {
	.thumbnail-grid figure.i1 {
		background-image: url(https://anselmurban.de/codepen-img/sinfonietta-meridiana%402x.png)
	}
	.thumbnail-grid figure.i2 {
		background-image: url(https://anselmurban.de/codepen-img/pension%402x.png)
	}
	.thumbnail-grid figure.i3 {
		background-image: url(https://anselmurban.de/codepen-img/goerlitzmade%402x.png)
	}
}
</style>
<!-- <div class="profileImg"> -->
<section id="wdierShow">
  <div class="wrapper">
    <div class="profileImg"><%= image_tag @wdier.img_url %>
    </div>
    <div class="box">
      <div class="cover-pic">
        <div class="profile-name">
          <h1 class="page-header"><%= @wdier.name %></h1>
        </div>
        <div class="page-header social">
          <ul class="grid">
            <%= link_to @wdier.github_url, class: 'btn btn-primary btn-lg' do %>
            <i class="fa fa-github"></i>
            Github
            <% end %>
            <%= link_to @wdier.portfolio_url, class: 'btn btn-primary btn-lg' do %>
            <i class="fa-file-text-o"></i>
            Portfolio
            <% end %>

            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>

          </ul>
        </div>
      </div>
      <div class="quote_container">
        <div class="quote">
        <%= @wdier.quote %></br>
        </div>
      </div>
      <div class="topContainer">
        <ul class="grid">
          <%= @wdier.teaching %></br>
          <%= @wdier.memory %></br>
          <%= @wdier.favlang %></br>
          <%= @wdier.wisewords %></br>
          <%= @wdier.q1 %></br>
          <%= @wdier.q2 %></br>
          <%= @wdier.q3 %></br>
        </ul>
        <%= link_to "edit", edit_wdier_path(@wdier)%>
      </br>

      <div class="thumbnail-grid flex">
  <a href="https://sinfonietta-meridiana.de/" target="_blank" class="flex-item">
    <figure class="i1">
      <figcaption><%= @wdier.q1 %></figcaption>
    </figure>
  </a>
  <a href="https://pension-am-alten-waschhaus.de/en/" target="_blank" class="flex-item">
    <figure class="i2">
      <figcaption><%= @wdier.q2 %></figcaption>
    </figure>
  </a>
  <a href="https://goerlitzmade.com/en/" target="_blank" class="flex-item">
    <figure class="i3">
      <figcaption><%= @wdier.q3 %></figcaption>
    </figure>
  </a>
</div>
      <div class="projectGallery">
        <ul class="grid">
          <div class="index">
            <h1> Project Gallery </h1>
            <%=link_to image_tag("project1.png"), @wdier.project1_url%>
            <%=link_to image_tag("project2.png"), @wdier.project2_url%>
            <%=link_to image_tag("project3.png"), @wdier.project3_url%>
          </ul>
        </div>
        <div class="squadGallery">
          <ul class="grid">
            <div class="index">
              <h2> <%= @wdier.squad_name %></h2>
            </ul>
          </div>
        </div>
        <div class="photo">
          <div class="photoGallery">
            <h1>Pics Please</h1>
            <button><%= link_to "Add new photo", new_photo_path(@wdier) %></button>
            <ul>
              <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><% @wdier.photos.each do |photo| %>
                <%= image_tag photo.img_url %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="comment">
            <div class="commentGallery">
              <div class="overlay">
                <h1>keep in touch...</h1>
                <button><%= link_to "Add new comment", new_wdier_post_path(@wdier) %> </button>
                <% @wdier.posts.each do |post| %>
                <div class="name">
                  <%= post.name %>
                </div>
                <div class="body">
                  <%= post.body %>
                </div>
                <%= link_to "Add new comment", new_wdier_post_path(@wdier) %>
                <% end %>
                <% if current_user && current_user == post.user %>
                <%= link_to "Edit", edit_wdier_post_path(@wdier) %> |
                <%= link_to "Delete", wdier_post_path(@wdier), method: :delete %>
                <% end %>
              </div>
            </div>
          </div>
          <footer>
          </br>
        </footer>
      </div>
    </div>
  </section>
