<section id="yearbookIndex">
  <section class="yearbookCover">
    <!-- <div class="overlay"> -->
    <div class="text-overlay">
      <div class="inner-shadow mustard">
      </br>
    </br>
  </br>
  <span>WDI</br>YEARBOOK</span>
</div>
</div>
</section>
<!-- <section class="space">
<div class="inner-shadow mustard">
</section> -->

<section class="words">
  <div class="inner-shadow mustard">
  </br>
  <h4>INSTRUCTOR'S WORDS OF WISDOM</h4>
</div>
<div class="wordContainer">
  <div class="box_left wisewords">
    <div class="index">
      <%= image_tag "https://pbs.twimg.com/profile_images/494612822740197377/4ldXwgN5_400x400.jpeg" %></br>
      <h3> Jesse Shawl</h3>
    </div>
    <h3> The learning is endless. Learn to love mistakes </h3>
  </div>
</div>
<div class="wordContainer">
  <div class="box_right wisewords">
    <div class="index">
      <%= image_tag "https://avatars3.githubusercontent.com/u/6268177?v=3&s=460" %>
    </div>
    <h3> Robin Thomas</h3>
    <h3> Go teach! Do a free "Beginner's HTML" class at your library or church. What you have, everyone else wants! </h3>
  </div>
</div>
<div class="wordContainer">
  <div class="box_left wisewords">
    <div class=index>
      <%= image_tag "http://orig02.deviantart.net/789b/f/2011/284/c/0/minus_the_bear_logo_by_mrjiggles4-d4cjd90.png" %>
    </div>
    <h3> Words </h3>
  </div>
</div>
<div class="wordContainer">
  <div class="box_right wisewords">
    <div class=index>
      <%= image_tag"http://i.giphy.com/1Lks5PFkIekO4.gif" %>
    </div>
    <h3>Nick Olds</h3>
    <h3> Technologies fade, Concepts do not. </h3>
  </div>
  <div class="wordContainer">
    <div class="box_left wisewords">
      <div class=index>
        <%= image_tag"http://media.vogue.com/r//2015/03/11/cinderella-gifs-steven-dam-06.gif"%>
      </div>
      <h3>Joe Zaretsky</h3>
      <h3> You know WAY more than you think you do! </h3>
    </div>
  </div>
  <div class="wordContainer">
    <div class="box_right wisewords">
      <div class=index>
        <%= image_tag"https://pbs.twimg.com/profile_images/566317879713214465/jzp0Z10y.jpeg"%>
      </div>
      <h3> Words </h3>
    </div>
    <div class="wordContainer">
      <div class="box_left wisewords">
        <div class=index>
          <%= image_tag"https://avatars3.githubusercontent.com/u/10698044?v=3&s=460"%>
        </div>
        <h3> Words </h3>
      </div>
    </div>
    <div class="wordContainer">
      <div class="box_right wisewords">
        <div class=index>
          <%= image_tag"http://media.vogue.com/r//2015/03/11/cinderella-gifs-steven-dam-06.gif"%>
        </div>
        <h3> Words </h3>
      </div>
    </div>
  </div>
</section>
<section class="space">
<div class="inner-shadow mustard">
</section>
<section class="middle">
  <div class="middle_container">
    <div class="wdiers">
      <div class="text-overlay">
        <div class="inner-shadow mustard">
        </br>
      </br>
      <span2>WDI8 </span2>
    </div>
    <!-- </div> -->
    <div class="links">
      <%=link_to image_tag("wdi8-blk.png"), wdiers_path(@wdier)%>
      <%=link_to image_tag("instructor.png"), wdiers_path(anchor: "instructorArea")%>
      <%=link_to image_tag("student.png"), wdiers_path(anchor: "studentArea")%>
    </div>
  </div>
</div>
</section>
<section class="words">
    <div class="inner-shadow mustard"></br>
    <h4>FAVORITE MEMORIES</h4></div>
  <div class="wordContainer">
    <div class="box_left wisewords">
      <div class="index">
        <%= image_tag "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYHAAAAJGE2OWQ0ZDk2LTE1MTctNDc4Mi05ZWUzLTE5ZTExOTUwZTM4OA.jp" %></br>
        <h3>Alexa Klein</h3>
      </div>
      <h3> I have loved meeting and learning from such a diverse and awesome group of people. </h3>
    </div>
  </div>
  <div class="wordContainer">
    <div class="box_right wisewords">
      <div class="index">
        <%= image_tag "https://pbs.twimg.com/profile_images/609055940596236288/RfQHyuDo.jpg" %>
      </div>
      <h3>Adrian Maseda</h3>
      <h3>Even though I wasn't there in person and had to watch footage of the event, Bipin's slam poetry was a thing of beauty.</h3>
    </div>
  </div>
  <div class="wordContainer">
    <div class="box_left wisewords">
      <div class=index>
        <%= image_tag "https://s3.amazonaws.com/wdi8/beckyssquad.jpg" %>
      </div>
      <h3>Christine Movius</h3>
      <h3>The moments when I witness a fellow classmate celebrating after finally getting their code to work after struggling through a really hard problem.</h3>
    </div>
  </div>
  <div class="wordContainer">
    <div class="box_right wisewords">
      <div class=index>
        <%= image_tag"https://pbs.twimg.com/profile_images/494612822740197377/4ldXwgN5_400x400.jpegf" %>
      </div>
      <h3>Jesse Shawl</h3>
      <h3>That squad scrum we had where talked about how to think positively about life.</h3>
    </div>
    <div class="wordContainer">
      <div class="box_left wisewords">
        <div class=index>
          <%= image_tag"https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhyAAAAJGZhYjkxOTZkLTA2NGEtNGQ0Ny1hODhhLWE2Zjk0ZWY3OGU2MQ.jpg"%>
        </div>
        <h3>Robel Tekeste</h3>
        <h3> Juan 'The Wombat' Jaunnsen </h3>
      </div>
    </div>
    <div class="wordContainer">
      <div class="box_right wisewords">
        <div class=index>
          <%= image_tag"http://i.imgur.com/82gCrYUm.jpg"%>
        </div>
        <h3>Farishta Haider</h3>
        <h3></h3>
      </div>
      <div class="wordContainer">
        <div class="box_left wisewords">
          <div class=index>
            <%= image_tag"http://i.imgur.com/BTYIPpC.jpg"%>
          </div>
          <h3>Brittany Branson</h3>
          <h3>The movie theatre style setting we had for our Project 2 presentations. It was heartwarming to see everyone chilling, kicking back, enjoying popcorn, but sincerely clapping and cheering at the end of every student's project presentation.</h3>
        </div>
      </div>
      <div class="wordContainer">
        <div class="box_right wisewords">
          <div class=index>
            <%= image_tag"http://imgur.com/CdMFOPE"%>
          </div>
          <h3>Vijender Bajwa</h3>
          <h3>That one time we went to the pub.</h3>
        </div>
      </div>
    </div>
</section>
<section class="space">
</section>
<section>
  <section class="bottom">
    <div class="bottom_container">
      <div class="photos">
        <div class="bg">
          <div class="text-overlay">
            <div class="inner-shadow mustard">
            </br>
          </br>
          <span3>PHOTO GALLERY</span3>
          <%=link_to image_tag("photogallery.png"), photos_path(@photos)%>
        </div>
      </div>
  </section>
  <section class="space">
  </section>
</section>
</br>
<footer>
  <%= image_tag("blkdc.png") %>
</footer>
