<section>
  <div class="inner">
<h1>
Welcome</br> to WDI8 Yearbook</h1>

</br>
  <div class="button"><%= link_to "Yearbook Index", photos_path(@photo)%></div></br>
</br>
  <div class="button"><%= link_to "Add Students", new_student_path(@student)%></div></br>
</br>
  <div class="button"><%= link_to " Student Index", students_path(@student)%></div></br>
</br>
  <div class="button"><%= link_to "Add Instructors", new_instructor_path(@instructor)%></div></br>
</br>

  <div class="button"><%= link_to "Instructors Index", instructors_path(@instructor)%></div></br>
</br>
<div class="button"><%= link_to "Add Codey", new_codey_path(@codey)%></div></br>
</br>
  <div class="button"><%= link_to "Codey Index", codeys_path(@codey)%></div></br>
</br>
</div>
</section>
