<style>
#yearbookIndex .topbtn{
  margin-top: 200px;
}
#yearbookIndex .yearbookCover{
  background-color: #000;

}
#yearbookIndex h1{
color: #fff;
}
#yearbookIndex h2{
color: red;
}
#yearbookIndex p{
color: #000
}
</style>

<section id="yearbookIndex">
<section class="topbtn">
  <div class="button"><%= link_to "New User", new_wdier_path(@wdier)%></div></br>
  <div class="button"><%= link_to "Yearbook Index", root_path(@yearbook)%></div></br>
  <div class="button"><%= link_to "Photo Index", photos_path(@photo)%></div></br>
  <div class="button"><%= link_to "New Photo", new_photo_path(@photo)%></div></br>
  <div class="button"><%= link_to "users Index", wdiers_path(@wdier)%></div></br>
</section>

<section class="yearbookCover">
  <div class="container">
    <h1> We Are</h1>
    <h2>WDI8</h2>
  </div>
</section>
</section>
