<section id="yearbookIndex">
  <section class="yearbookCover">
    <div class="overlay">
      <div class="cover_container">
        </br>
          <div class="button"><%= link_to "New User", new_wdier_path(@wdier)%></div>
          <div class="button"><%= link_to "Yearbook Index", root_path(@yearbook)%></div>
          <div class="button"><%= link_to "Photo Index", photos_path(@photo)%></div>
          <div class="button"><%= link_to "New Photo", new_photo_path(@photo)%></div>
          <div class="button"><%= link_to "users Index", wdiers_path(@wdier)%></div>
        </br>
          <h1> We Are</h1>
          <h2>WDI8</h2>
        </br>
        <div class="container_btm">
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
          WORD</br>
        </div>
      </div>
    </div>
  </section>
 <section class="middle">
   <div class="middle_container">
     <div class="vertical-align">
       <div >

         <h2 class="wdiers"><%= link_to image_tag("cog-outline-red.png"), wdiers_path(@wdier)%></h2>

            <h2 class="wdiers"><%=link_to image_tag("red-cog.png"), wdiers_path(@wdier)%></h2>
             </div>
          </div>
        </div>
      </div>
 </section>
 <section>
 </section>
</section>
