<section id="yearbookIndex">


  <section class="yearbookCover">
    <!-- <div class="overlay"> -->
      <div class="text-overlay">
        <div class="inner-shadow mustard">
      </br>
      </br>
      </br>

      <span>WDI</br>YEARBOOK</span>
  </div>
</div>
</section>
<!-- <section class="space">
  <div class="inner-shadow mustard">
  </section> -->

  <section class="words">
    <div class="inner-shadow mustard">
    </br>
      <h4>INSTRUCTOR'S WORDS OF WISDOM</h4>
    </div>
    <div class="wordContainer">
      <div class="box_left wisewords">
        <div class="index">
          <%= image_tag "https://pbs.twimg.com/profile_images/494612822740197377/4ldXwgN5_400x400.jpeg" %>
          <h3> Jesse Shawl</h3>
        </div>
        <h3> The learning is endless. Learn to love mistakes </h3>
      </div>
    </div>
    <div class="wordContainer">
      <div class="box_right wisewords">
        <div class="index">
          <%= image_tag "https://avatars3.githubusercontent.com/u/6268177?v=3&s=460" %>
        </div>
        <h3> Robin Thomas</h3>
        <h3> Go teach! Do a free "Beginner's HTML" class at your library or church. What you have, everyone else wants! </h3>
      </div>
    </div>
    <div class="wordContainer">
      <div class="box_left wisewords">
        <div class=index>
          <%= image_tag "http://orig02.deviantart.net/789b/f/2011/284/c/0/minus_the_bear_logo_by_mrjiggles4-d4cjd90.png" %>
        </div>
        <h3> Words </h3>
      </div>
    </div>
    <div class="wordContainer">
      <div class="box_right wisewords">
        <div class=index>
          <%= image_tag"http://i.giphy.com/1Lks5PFkIekO4.gif" %>
        </div>
        <h3>Nick Olds</h3>
        <h3> Technologies fade, Concepts do not. </h3>
      </div>
      <div class="wordContainer">
        <div class="box_left wisewords">
          <div class=index>
            <%= image_tag"http://media.vogue.com/r//2015/03/11/cinderella-gifs-steven-dam-06.gif"%>
          </div>
          <h3>Joe Zaretsky</h3>
          <h3> You know WAY more than you think you do! </h3>
        </div>
      </div>
      <div class="wordContainer">
        <div class="box_right wisewords">
          <div class=index>
            <%= image_tag"https://pbs.twimg.com/profile_images/566317879713214465/jzp0Z10y.jpeg"%>
          </div>
          <h3> Words </h3>
        </div>
        <div class="wordContainer">
          <div class="box_left wisewords">
            <div class=index>
              <%= image_tag"https://avatars3.githubusercontent.com/u/10698044?v=3&s=460"%>
            </div>
            <h3> Words </h3>
          </div>
        </div>
        <div class="wordContainer">
          <div class="box_right wisewords">
            <div class=index>
              <%= image_tag"http://media.vogue.com/r//2015/03/11/cinderella-gifs-steven-dam-06.gif"%>
            </div>
            <h3> Words </h3>
          </div>
        </div>
      </div>
    </section>
    <section class="middle">
      <div class="middle_container">
        <div class="wdiers">

          <div class="text-overlay">
        <div class="inner-shadow mustard">
        </br>
        </br>
        <span2>WDIERS</span2>
            <%=link_to image_tag("wdi8-blk.png"), wdiers_path(@wdier)%>
          </br>
          </div>
          </div>
      </div>
    </div>
  </section>
  <section>
    <div class="inner-shadow mustard">
    </br><h5>Photo Gallery</h5></div>
    <div>

      <h2><%=link_to image_tag("instructors.png"), wdiers_path(@wdier)%></h2>
      <h2><%=link_to image_tag("students.png"), wdiers_path(@wdier)%></h2>
      <h2><%=link_to image_tag("photo.png"), photos_path(@photos)%></h2>
    </section>
  </section>
  <footer>
    <%= image_tag("blkdc.png") %>
  </footer>
