<style>
#form {
  margin-top: 400px;
  height: 1000px;
}

#form .fill{
  height: 800px;
  width: 600px;
  background: red;
  color: #000;
}
</style>
<section class="form">
<h2>Edit photo</h2>
<%= form_for @photo do |f| %>
<div class="row text-center">
  <div class="large-10 large-centered columns">

<%=f.label :img_url, "Photo URL" %>
<%=f.text_field :img_url %>
</br>
<%=f.label :caption, "Caption" %>
<%=f.text_field :caption%>
</br>
<%=f.label :all_tags,"Tags", placeholder: "Separated with commas" %>
<%= f.text_field :all_tags %>
</br>
<%=f.submit%>
  <% end %>
<div>
</section>
<footer>
  <%= image_tag("blkdc.png") %>
</footer>
