<h2> Upload photos  </h2>
<%= form_for [@photo] do |f| %>

  <%=f.label :url, "Enter the photo URL" %>
  <%=f.text_field :url %>

  <%=f.label :caption, "Enter the caption" %>
  <%=f.text_field :caption%>

  <%=f.label :all_tags, "Enter your tags, separated with commas" %>
  <%=f.text_field :all_tags %>

  <%=f.label :tag_list, "Tags (separated by commas)" %>
  <%=f.text_field :tag_list %>

  <%=f.submit%>
  <% end %>
