
<section id="comment_form">
  <%= form_for @photo do |f| %>
  <div class="inner-shadow mustard">
  </br>
  </br>
  </br>
  <h4>PHOTO</h4>
</div>
  <div class="box">
  <div class="insidebox">
    <div class="input">
          <%=f.label :img_url, "Photo URL" %>
          <%=f.text_field :img_url %>
        </div>
        <div class="input">
          <%=f.label :caption, "Caption" %>
          <%=f.text_field :caption%>
        </div>
        <div class="input">
        <%=f.label :all_tags,"Tags", placeholder: "Separated with commas" %>
        <%= f.text_field :all_tags %>
      </div>
      <button><%= f.submit "Post", class: "button"%></button>
      <% end %>
    </div>
    </div>
</section>
