<h2> Upload photos  </h2>
<%= form_for [@photo] do |f| %>

  <%=f.label :img_url, "Enter the photo URL" %>
  <%=f.text_field :img_url %>

  <%=f.label :caption, "Enter the caption" %>
  <%=f.text_field :caption%>

  <%=f.label :tag_list, "Tags (separated by commas)" %>
  <%=f.text_field :tag_list %>


  <%=f.submit%>
  <% end %>
