<section id="photoShow">
  <%= image_tag @photo.img_url%></br>
  <%= @photo.caption %></br>
  <%= @photo.tag %></br>
  <%= @photo.tagging %></br>
  <button><%= link_to "Edit", edit_photo_path(@photo) %> </button></br>
  <button><%= link_to "Delete", photo_path(@photo),  method: :delete %> </button></br>
  <button><%= link_to "Back to Gallery", photos_path(@photo) %> </button></br>
    </img>
</section>
<footer>
  <%= image_tag("blkdc.png") %>
</footer>
