<style>
#comment_form{
  background-color: pink;
  height: 1200px;
  width: 100%;
}
</style>

<section class="comment_form">
<div class="row text-center">
  <%= form_for @post do |f| %>
  <div class="large-10 large-centered columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
</br>
<div class="large-10 large-centered columns">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
</br>
<div class="large-10 large-centered columns">
  <%= f.submit "Post", class: "button"%>
</div>
<% end %>
</div>
</section>
