<!DOCTYPE html>
<html>
<head>
  <title>WDI8 Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<header id="topnav">
  <div class="inner">
    <div class="logo">WDI8 Yearbook</div>
    <nav role='navigation'>
      <ul>
        <li><%= link_to " Student Index", students_path %></li>
        <li><%= link_to "Instructors", instructors_path %></li>
        <li><%= link_to "Gallery", photos_path %></li>
        <li><%= link_to "Codey", codeys_path %></li>
      </ul>
    </nav>
  </div>
</header>

<section>
  <div class="inner">
    <p><span><%= link_to image_tag("GA_Cog_Large_Red_RGB.png"), root_path %> </span></p>
  </div>
</br>
</br>
</br>
</br>
</section>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/assets/javascripts/application.js"></script>
<%= yield %>
<section class="alternate" id="demosection2">
  <div class="inner">
<p>GA Details</p>
<p><span><%= link_to image_tag("GA_Cog_Large_Red_RGB.png"), root_path %> </span></p>
      </div>
    </section>
    <p><span><%= link_to image_tag("GA_Cog_Large_Red_RGB.png"), root_path %> </span></p>
  </body>
</html>
