<!DOCTYPE html>
<html>
<head>
  <title>WDI8 Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <header id="navigation_container">
    <div class="inner" id="row">
      <nav role='navigation'>
        <ul>
          <div class="logo">
            <!-- <h6> WDI8 Yearbook</h6></div> -->
            <div class="nav_link col-xs-1 tab">
              <li><%= link_to "Wdiers", wdiers_path %></div>
                <div class="nav_link col-xs-1 tab2"><li><%= link_to "Photo Gallery", photos_path %></div>
                </ul>
              </nav>
            </div>
            <div class="ga-btn">
              <%= link_to image_tag("General_Assembly.png"), root_path %>
            </div>
          </div>
        </header>
        <div class="devise">
          <div class="inner-shadow red">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </br></br>
          <% if current_user %>
          <%= link_to "Log Out #{current_user.email}", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <% if !current_user %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
          <% end %>
        </div>
      </div>

      <%= yield %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="/assets/javascripts/application.js"></script>
      <script src="/assets/javascripts/fontsmoothie.min.js"></script>
    </body>
    </html>
