<!DOCTYPE html>
<html>
<head>
  <title>WDI8 Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

  <!-- <header id="navigation_container">
    <div class="inner" id="row">

      <nav role='navigation'>
        <ul>
          <div class="nav_link col-xs-1 tab"><li><%#= link_to "Student", students_path %></div>
            <div class="nav_link col-xs-1 tab"><li><%#= link_to "Instructors", instructors_path %></div>
              <div class="nav_link col-xs-1 tab"><li><%= link_to "Gallery", photos_path %></div>
                <div class="nav_link col-xs-1 tab"><li><%= link_to "Codey", codeys_path %></div>
                </ul>
              </nav>
            </div>
            <div class="ga-btn">
              <%= link_to image_tag("General_Assembly.png"), root_path %>
            </div>
          </header> -->
          <div class="ga-btn">
            <%= link_to image_tag("General_Assembly.png"), root_path %>
          </div>
          <%= yield %>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
          <script src="/assets/javascripts/application.js"></script>
        </body>
        </html>
