<!DOCTYPE html>
<html>
<head>
  <title>WDI8 Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<style>

new nav bar
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

::selection {
  background: #000;
  color: #aaf;
}
.alternate ::selection {
  background: #c00;
  color: red;
}

#navigation_container body {
  margin: 0;
  padding: 0;
  height: 2000px;
  font-size: 16px;
  line-height: 1.5;
}

#navigation_container button{
  z-index: 2;

}
#logo {
  margin-top: -15px;
  font-size: 3em;
  padding-left: 1%;
  padding-top: 2.8%;
}

#navigation_container {
  padding-left: 0;
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  display: inline;
}

#navigation_container img{
  width:60px;
  height:60px;
}
.tab {
  font-size: 105%;
  padding-top: 4%;
  display: inline;
}

.nav_link {
  color: #e11a61;
}

a {
  color: #e11a61;
}

a:visited {
  color: #e11a61;
}


ul, li, h1, h2, h3, h4, h5, h6, p, a, .logo {
  font-family: "Lato","Verdana",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.inner {
  width: 800px;
  position: relative;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  padding-top: 50px;
  background: #000;
  transition: 0.7s all;
  z-index: 100;
}

header.alt-header {
  background: #fff;
}

.alt-header a {
  color: #000;
}

body.header-fixed header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  z-index: 2;
}

li {
  list-style: none;
}

nav {
  overflow: visible;
}

#navigation_container nav li {
  display: inline;
  /*// float: left;*/
}

#navigation_container nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  transition: 0.3s all;
}

#navigation_container nav a:hover {
  background: red;
}

#navigation_container .ga-btn {
  position: relative;
  margin: auto;
  // margin-left: 48vw;
  // margin-right:48vw;
  width:30px;
  height:30px;
  border:0;
  /*top: 20px;*/
}

#navigation_container .ga-btn :hover{
  border-color: #e11a61;
}

.logo {
  float: left;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  transition: 0.7s all;
}

.alt-header .logo {
  color: #000;
}

#navigation_container body.header-fixed .logo {
  font-size: 30px;
}

.alternate {
  background: #000;
  color: #fff;
}

#navigation_container section .inner {
  padding-top: 200px;
}
body{
  background-color: #000;
}

</style>
<body>
  <header id="navigation_container">
    <div class="inner" id="row">
      <nav role='navigation'>
        <ul>
          <div class="nav_link col-xs-1 tab"><li><%= link_to "Wdiers", wdiers_path %></div>
            <div class="nav_link col-xs-1 tab"><li><%= link_to "Gallery", photos_path %></div>
            </ul>
          </nav>
        </div>
        <div class="ga-btn">
          <%= link_to image_tag("General_Assembly.png"), root_path %>
        </div>
      </header>
      <section class="space">
      </section>
      <%= yield %>
      <footer>
        <h1>Botton of page</h1>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="/assets/javascripts/application.js"></script>
    </body>
    </html>
